<%= form_for([@broadcaster, @channel], :html => {:multipart => true}) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :ingestion_url %><br />
    <%= f.text_field :ingestion_url %>
  </div>
  <div class="field">
    <%= f.label :ingestion_module %><br />
    <%= f.text_field :ingestion_module %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
