<h1>Listing broadcasts on now</h1>

<table>
  <tr>
    <th>Channel</th>
    <th>Broadcaster broadcast</th>
    <th>Start</th>
    <th>End</th>
    <th>Broadcaster program uuid</th>
    <th>Synopsis</th>
    <th>Title</th>
    <th>Subtitle</th>
  </tr>

<% @broadcasts.each do |broadcast| %>
  <tr>
    <td><%= broadcast.channel_id %></td>
    <td><%= broadcast.broadcaster_broadcast_id %></td>
    <td><%= broadcast.start %></td>
    <td><%= broadcast.end %></td>
    <td><%= broadcast.broadcaster_program_id %></td>
    <td><%= broadcast.synopsis %></td>
    <td><%= link_to broadcast.title, broadcast %></td>
    <td><%= broadcast.subtitle %></td>
  </tr>
<% end %>
</table>

<br />
